/* div p {
  background-color: yellow;
  color: red;
  text-align: center;
} */

/* div .text {
  background-color: yellow;
  color: red;
  text-align: center;
} */

/* .container .text {
  background-color: yellow;
  color: red;
  text-align: center;
} */

.container p {
  background-color: yellow;
  color: red;
  text-align: center;
}